body {
                background: rgb(0, 0, 0);
                color: rgb(45, 45, 45);
                padding: 10px;
                font-family: arial;
            }
            header {
                font-size: 1.5em;
                font-weight: bold;
            }
            [id=all-contents] {
                max-width: 800px;
                margin: auto;
            }
    
            /* navigation menu */
            nav {
                background: rgb(162, 141, 91);
                border-radius: 10px;
                margin: 0 auto;
                margin-bottom: 20px;
                display: flex;
                padding: 10px;
            }
            nav header {
                display: flex;
                align-items: center;
                color: rgb(0, 0, 0);
                flex: 1;
            }
            nav ul {
                list-style-image: none;
            }
            nav li {
                display: inline-block;
                padding: 0 10px;
            }
            nav a {
                text-decoration: none;
                color: rgb(0, 0, 0);
            }
    
            /* main container area beneath menu */
            main {
                background: rgb(162, 141, 91);
                display: flex;
                border-radius: 10px;
            }
            [class=sidebar] {
                margin-right: 25px;
                padding: 10px;
            }
            [class=sidebar] img {
                width: 200px;
                border-radius: 10px;
            }
            [class=content] {
                flex: 1;
                padding: 15px;
            }
            [class=interests] header {
                font-size: 1.25em;
            }
            .content h1, h2, h3, h4, h5, h6 {
                margin: 10px;
            }
            .content section > a {
                text-decoration: none;
            }